.ellipse-font-wrap {
  display: inline-block;
  width: 100%;
  word-break: break-all;
}
.single-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.multer-ellipsis {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.multer-ellipsis-no {
    overflow: hidden;
}
.multer-ellipsis-no .before{
    float: left;
}

.multer-ellipsis-no .text {
    float: right;
    width: 100%;
    word-break: break-all;
}
.multer-ellipsis-no .after{
    float:right;
    position: relative;
    left:100%;
    transform: translate(-100%,-100%);
    background: #fff;
}
