@import "mixins/mixins";
@include b(infinite) {
  &-list-container {
    overflow: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
  }
  &-list-phantom {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: -1;
  }
  &-list {
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
  }
  &-list-item {
    padding: 5px;
    color: #555;
    box-sizing: border-box;
    border-bottom: 1px solid #999;
  }
  &-loading {
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
}
