.lr-header,
.lr-footer {
  background-color: #b3c0d1;
  color: #333;
  line-height: 60px;
}

.lr-aside {
  color: #333;
}

#chang-jian-ye-mian-bu-ju + .demo-container {
  .lr-header,
  .lr-footer {
    text-align: center;
  }

  .lr-aside {
    background-color: #d3dce6;
    text-align: center;
    line-height: 200px;
  }

  .lr-main {
    background-color: #e9eef3;
    color: #333;
    text-align: center;
    line-height: 160px;
  }

  & > .source > .lr-container {
    margin-bottom: 40px;

    &:nth-child(5) .lr-aside,
    &:nth-child(6) .lr-aside {
      line-height: 260px;
    }

    &:nth-child(7) .lr-aside {
      line-height: 320px;
    }
  }
}
