.demo-block .demo-surface {
  height: 600px;
  border: 1px solid #d5d5d5;
  .demo-surface-user {
    text-align: right;
    font-size: 12px;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
  }
}
